.mainContainer {
    max-width: 1178px;
    margin: 0 auto;
    padding: 52px 10px 37px;
}
.h2,
.h3 {
    color: #000;
    font-size: 40px;
    line-height: 220%;
}
.h3 {
    font-size: 25px;
}

@media screen and (max-width: 590px) {
    .mainContainer {
        padding: 85px 10px 84px;
    }
    .h2 {
        font-size: 24px;
    }
    .h3 {
        font-size: 18px;
    }
}
