.block {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.block button {
    width: 100%;
}
.error {
    background: rgb(241, 156, 156);
    color: black;
    font-size: 20px;
}
